# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\companyWorkspace\point-api-was\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
